/***
 *       SCROLLBARS
 ****/
.card-scrollable
{
	overflow-y: auto;
}

.card-scrollable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.card-scrollable::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.card-scrollable::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/****************************
 *        MESSAGES          *
 ****************************/
.messages{
    padding: 20px 0px;
    height: 50px;
}
/****************************
 *        DASHBOARD         *
 ****************************/
.dashboard {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 450px;
}
.module-wrap {
    flex: 0 0 30%;
    height:400px;
}
.dashboard>.module-wrap>.comment-card {
    height: 400px;
}
.card-header p {
    margin: 0;
}
.card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.card-body .btn-link {
    padding: 0 0;
}
/*******
 *      COMMENT CARDS
 ***/
.comment-card .card-header {
    font-size: .75em;
}
.comment-card .card-header,
.comment-card .card-body {
    padding: 1rem .5rem;
}
.comment-card .card-body p {
    font-size: .75em;
}